      <div class="mod">
        <div class="modth">
          <div class="lc">
            <div class="rc">
              <div class="modtit">
                <h1>
                  <%= userinfo.username %>
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div id="m_pro" class="modbox">
          <ul>
            <li class="image"><img src="/user1/xu_ch/face37440.gif" width="80" height="80" /></li>
            <li class="user"><!--<img src="/skins/spaces/default/images/mimi.gif" alt="帅哥" width="17" height="18" />-->帅哥 | 22岁</li>
            <li class="a"><a href="mysetting.php?step=4">修改头像</a></li>
            <li class="b"><a href="newpost.php"> 发表文章</a></li>
            <li class="c"><a href="newphoto.php">上传照片</a></li>
            <li class="desc addr">地点：临沂
            </li>
            <li class="desc">等级：
            军团学员
            </li>
            <li class="desc">积分：
            18
            </li>
            <li class="desc">上次登录：
            19小时以前
            </li>
            <li class="clear">&nbsp;</li>
          </ul>
          <div class="clear">&nbsp;</div>
        </div>
      </div>

