<div id="sub">
  <div id="subtop">
    <div id="subbon">
      <dl>
        <% for category in @categories -%>
          <%= render :partial => 'category', :locals => {:category => category} %>
        <% end %>
        </dl>
    </div>
  </div>
</div>

        <div class="mod top">
          <div class="modtop">
            <div class="topl">
              <div class="topr">
                <h1>日志推荐</h1>
                <div class="more"><a href="http://www.mimimama.com/blogs.php">[更多...]</a></div>
              </div>
            </div>
          </div>
          <div class="modbox" id="c10">
            <ul>
              <li class="left"><a href="http://www.mimimama.com/blog.php?tid=25489" target="_blank">硬着头皮努力 </a></li>
              <li class="left"><a href="http://www.mimimama.com/blog.php?tid=24505" target="_blank">突然明白</a></li>
            </ul>
          </div>
          <div class="modbot">
            <div class="botl">
              <div class="botr">
              </div>
            </div>
          </div>
        </div>

        <div class="mod top">
          <div class="modtop"><div class="topl"><div class="topr">
                <h1>朋友圈</h1>
                <div class="more"><a href="http://www.mimimama.com/clans.php">[更多...]</a></div>
              </div>
            </div>
          </div>

          <div class="modbox" id="c12">
            <ul>
              <li><a href="clan_list.php">饮食</a></li>
              <li><a href="clan_list.php">活动、聚会</a></li>
            </ul>

          </div>
          <div class="modbot"><div class="botl"><div class="botr"></div></div></div>
        </div>

